


{% extends 'aplicacion/home.html' %}
{% block titulo  %}
    <h2 class="display-5 fw-bolder"><span class="text-gradient d-inline"> Login</span></h2>
{% endblock titulo  %}
{% block contenido %}
<h1 style="text-align: center;">Iniciar sesión</h1>
<form action="" method="post">
    {% csrf_token %}
  <table>
    {{form.as_table}}
  </table>
    <input type="submit" value="Enviar">

</form>
{% endblock contenido %}



{% extends 'aplicacion/home.html' %}

{% block titulo %}
    <h2 class="display-5 fw-bolder"><span class="text-gradient d-inline">Login</span></h2>
{% endblock titulo %}

{% block contenido %}
<div class="container px-4 px-lg-5">
  <div class="row gx-4 gx-lg-5">
    <div class="col-md-10 col-lg-8 mx-auto text-center">
      <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
      <h2 class="text-white mb-5">Subscribe to receive updates!</h2>
      <form action="" method="post" class="form-signup">
        {% csrf_token %}
        <div class="row input-group-newsletter">
          <div class="col"><input class="form-control" id="emailAddress" name="email" type="email" placeholder="Email" aria-label="Email." data-sb-validations="required,email" /></div>
          <div class="col"><input class="form-control" id="password" name="password" type="password" placeholder="Contraseña" aria-label="Contraseña" data-sb-validations="required" /></div>
          <div class="col-auto"><button class="btn btn-primary" id="submitButton" type="submit">Login</button></div>
        </div>
        <div class="invalid-feedback mt-2" data-sb-feedback="emailAddress:required">An email is required.</div>
        <div class="invalid-feedback mt-2" data-sb-feedback="emailAddress:email">Email is not valid.</div>
        <!-- Submit success message-->
        <div class="d-none" id="submitSuccessMessage">
          <div class="text-center mb-3 mt-2 text-white">
            <div class="fw-bolder">Form submission successful!</div>
            To activate this form, sign up at
            <br />
            <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
          </div>
        </div>
        <!-- Submit error message-->
        <div class="d-none" id="submitErrorMessage">
          <div class="text-center text-danger mb-3 mt-2">Error sending message!</div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock contenido %}
